# Deepgram API key for transcription and diarization services
DEEPGRAM_API_KEY=

# Redis connection URL used by Celery for message broker and result backend
REDIS_URL=redis://server-ip:6379/0

# Directory path where application logs will be stored
LOG_DIR=/var/log/czentrix

# Name of the main application log file
LOG_FILENAME=transcription.log

# Authentication API Key for securing FastAPI endpoints
API_KEY=

# Deepgram URL and Configuration Parameters
DEEPGRAM_URL=https://api.deepgram.com/v1/listen
DEEPGRAM_MODEL=nova-3
DEEPGRAM_LANGUAGE=hi
DEEPGRAM_PUNCTUATE=true
DEEPGRAM_DIARIZE=true
DEEPGRAM_SMART_FORMAT=true
DEEPGRAM_UTTERANCES=true
DEEPGRAM_MULTICHANNEL=true